@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
   font-family:  'Open Sans', sans-serif;
   overflow-x: hidden;
}
header .line-header{
background-color: #117050;
height: 10px;
width: 100vw;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.header--area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.logo img{
    width: 64px;
}
.header-right{
    display: flex;
    align-items: center;
}
.header-right form{
    display: flex;
}
.header-right input{
    font-size: 16px;
    padding: 8px 15px;
    outline: 0;
    width: 100%;
    max-width: 280px;
}
.header-right button{
    border: 0px;
    background-color: transparent;
    margin-left: -25px;
    cursor: pointer;
}
.header-right button img{
    width: 16px;
    height: 16px;
}
.header--menu{
    margin-left: 50px;
}
.header--menu img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}


.banner{
    position: relative;
    background: url("../imagens/bg.jpg") no-repeat top center;
    height: auto;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}
.banner .container h1{
    font-family: 'oswald';
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    margin-bottom: 45px;
}
.banner .container  p{
    margin-bottom: 45px;
}
.banner-images img{
    width: 160px;
    height: 160px;
    margin-right: 40px;
    border-radius: 50%;
    border: 5px solid #117050;
    cursor: pointer;
}
.area1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area1--content .box{
    width: 188px;
    height: 30px;
    background-color: #117050;
    margin-left: 50px;
    margin-top: 75px;
}
.conteudo--area1{
    width: 490px;
    margin-left:50px;
}
.conteudo--area1 h1{
    font-family: 'oswald', sans-serif;
    font-size: 2.4em;
    line-height: 45px;
    margin-bottom: 25px;
    margin-top: 15px;
}
.conteudo--area1 span{
    font-size: 16px;
    color: #555;
    font-family:  'Open Sans', sans-serif;
}
.conteudo--area1 p{
    margin-top: 25px;
    line-height: 25px;
    max-width: 490px;
    color: rgba(0, 0, 0, 0.741);
    margin-bottom: 60px;
}
.btn{
    margin-bottom: 80px;
}
.btn a{
    text-decoration: none;
    border: 2px solid #454545;
    padding: 10px 30px;
    color: #454545;
    border-radius: 3px;
}
.btn a:hover{
    background-color: #555;
    color: white;
    border: none;
}
.area1--img1{
    background-color: #ff0000;
    height: 350px;
    background: url('../imagens/f2.jpg') no-repeat center;
    background-size: cover;
}
.area1--img2{

    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background: url('../imagens/f1.jpg') no-repeat center center;
    background-size: cover;
}


.area2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area2--content .box{
    width: 188px;
    height: 30px;
    background-color: #117050;
    margin-left: 50px;
    margin-top: 75px;
}
.conteudo--area2{
    width: 490px;
    margin-left:50px;
}
.conteudo--area2 h1{
    font-family: 'oswald', sans-serif;
    font-size: 2.4em;
    line-height: 45px;
    margin-bottom: 25px;
    margin-top: 15px;
}

.conteudo--area2 p{
    margin-top: 25px;
    line-height: 25px;
    max-width: 490px;
    color: rgba(0, 0, 0, 0.741);
    margin-bottom: 60px;
}
.btn{
    margin-bottom: 80px;
}
.btn a{
    text-decoration: none;
    border: 2px solid #454545;
    padding: 10px 30px;
    color: #454545;
    border-radius: 3px;
}
.btn a:hover{
    background-color: #555;
    color: white;
    border: none;
}
.area2--img1{
    background-color: #ff0000;
    height: 350px;
    background: url('../imagens/f4.jpg') no-repeat center;
    background-size: cover;
}
.area2--img2{

    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background: url('../imagens/f3.jpg') no-repeat center center;
    background-size: cover;
}



.area3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area3--content{
    padding-top: 100px;
}
.conteudo--area3{
    height: 635px;
    background: url("../imagens/bg2.jpg") no-repeat left center;
    background-size: cover;
    
}
.conteudo--area3 h1{
    margin-left: 50px;
    font-family: 'oswald', sans-serif;
    font-size: 2.4em;
    line-height: 45px;
    margin-bottom: 25px;
    padding-top: 150px;
}

.conteudo--area3 p{
    margin-left: 50px;
    margin-top: 25px;
    line-height: 25px;
    max-width: 490px;
    color: rgba(0, 0, 0, 0.741);
    margin-bottom: 60px;

}
.btn{
    margin-bottom: 80px;
    margin-left: 50px;
}
.btn a{
    text-decoration: none;
    border: 2px solid #454545;
    padding: 10px 30px;
    color: #454545;
    border-radius: 3px;
}
.btn a:hover{
    background-color: #555;
    color: white;
    border: none;
}
.area3--img1{
 
    height: 735px;
    background: url('../imagens/f5.jpg') no-repeat center;
    background-size: cover;
}



.area4{
    display: grid;
    grid-template-columns: 400px 1fr;
    background-color: #e8e9ee;
}
.area4--content {
    padding-top: 150px;
    padding-bottom: 100px;
}

.conteudo--area4{
    margin-left: 50px;
    margin-bottom: 50px;
    padding-right: 20px;
}
.area4--content .box{
    width: 188px;
    height: 30px;
    background-color: #117050;
    margin-left: 50px;
}
.area4--img1{
    background: url('../imagens/bg3.jpg') no-repeat top center;
    background-size: cover;
}


.conteudo--area4 h1{
   
    font-family: 'oswald', sans-serif;
    font-size: 2.4em;
    line-height: 45px;
    margin-bottom: 25px;
    padding-top: 20px;
}

.conteudo--area4 p{
   
    margin-top: 25px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.741);
    margin-bottom: 60px;

}
.area4 .btn{
    margin-bottom: 80px;
    margin-left: 5px;
}
.area5{
    
  background: url("../imagens/bg4.jpg") no-repeat left center;
  background-size: cover;
  height: 600px;
}
footer{
    display: flex;
    height: 250px;
    background-color: #333;
    color: white;
    justify-content: center;
    align-items: center;
}





@media  screen and (min-width:768px) and (max-width:1140px) {
    .container{
        padding-left: 30px;
        padding-right: 20px;
    }
    .area1 {
        grid-template-columns: 2fr 1fr;
    }
}
@media  (min-width:426px) and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .container{
        padding-left: 20px;
        padding-right: 30px;
    }
    .area1 {
        grid-template-columns: 3fr 2fr;
    }
    .conteudo--area1,
    .conteudo--area2,
    .conteudo--area3{
        margin-right: 15px;
        margin-left: 20px;

    }
    .area2{
        grid-template-columns: 2fr 3fr;
    }
    .area3 {
        grid-template-columns: 3fr 2fr;
    }
}
@media (max-width:425px){
    .container{
        padding-left: 20px;
        padding-right: 30px;
    }
    .header-right input{
        max-width: 190px;
    }
    .banner{
        padding-top: 40px;
    }
    .banner .container h1{
        font-size: 70px;
        line-height: 70px;
    }
    .banner-images{
        display: flex;
        justify-content: center;
        padding-left: 10px;
    }
    .banner-images img{
        max-width: 100px;
        height: 100px;
        margin-right: 20px;
        border-radius: 50%;
        border: 3px solid #117050;
        cursor: pointer;
    }
    .area1{
        grid-template-columns: 1fr;
    }
    .area1--content .box,
    .area2--content .box {
        width: 188px;
        height: 30px;
        background-color: #117050;
        margin-left: 20px;
        margin-top: 35px;
    }
    .conteudo--area1{
        max-width: 425px;
    }
    .conteudo--area1 {
        max-width: 345px;
        margin-left: 20px;
        margin-right: 10px;
    }
    .btn{
        margin-left: 0px;
    }
    .area1--img1{
        height: 250px;
        max-width: 425px;
        width: 100vw
    }

    .area2{
        grid-template-columns: 1fr;
    }
    .area1--content .box {
        width: 188px;
        height: 30px;
        background-color: #117050;
        margin-left: 20px;
        margin-top: 35px;
    }
    .conteudo--area2{
        max-width: 425px;
    }
    .conteudo--area2 {
        max-width: 345px;
        margin-left: 20px;
        margin-right: 10px;
    }
    .btn{
        margin-left: 0px;
    }
    .area2--img1{
        height: 250px;
        max-width: 425px;
        width: 100vw
    }




    .area3 {
        grid-template-columns: 1fr;
    }
    .area3--content {
        padding-top: 30px;
    }
    .conteudo--area3 h1 {
        margin-left: 20px;
        font-family: 'oswald', sans-serif;
        font-size: 2.4em;
        line-height: 45px;
        padding-top: 0px;
    }
    .conteudo--area3 p{
        margin-left: 20px;
    }
    .area3 .btn{
        margin-left: 20px;
    }
    .conteudo--area3{
        height: 430px;
    }
    .area3--img1 {
        height: 350px;
        background: url(../imagens/f5.jpg) no-repeat top center;
        background-size: cover;
    }




    .area4{
        grid-template-columns: 1fr;
    }
    .area4--content{
        padding-top: 40px;
        padding-bottom: 0px;
    }
    .area4--content .box{
        margin-left: 20px;
    }
    .conteudo--area4{
        margin-left: 20px;
    }
    .area4 .btn{
        margin: none;
    }


    .area5{
        display: none;
    }



    footer p{
        padding: 25px;
    }
}
